---
layout: default
title: Experiences
permalink: experiences.html
---

<h1>Experiences</h1>
<div class="posts">
  {% assign experiences = site.experience | sort: "reading_order" %}
  {% for e in experiences %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ e.url | absolute_url }}">
        {{ e.title }}
      </a>
    </h1>

    <section class="post-meta">
      <div class="left-align">
        {% if e.github %}
        <a href="{{ e.github }}"><i class="fa fa-github"></i>&nbsp;&nbsp;Project GitHub Link</a><br>
        {% else%}
        <span class="not-available"><i class="fa fa-github"></i>&nbsp;&nbsp;Not Available<br></span>
        {% endif %}
      </div>
      <div class="right-align">
        {% if e.url %}
        <a href="{{ e.company_url }}"><i class="fa fa-link"></i>&nbsp;&nbsp;Web Link</a>
        {% else%}
        <span class="not-available"><i class="fa fa-link"></i>&nbsp;&nbsp;Not Available</span>
        {% endif %}
      </div>
      <p class="card-language"><i class="fa fa-code"></i>&nbsp;&nbsp;{{ e.tech }}</p>
    </section>

    {{ e.content }}
  </div>
  {% endfor %}
</div>
