{% if page.title != "About" %}
<footer class="site-footer">
  <hr class="footer-hr">
  <div align="center">
    <p>
      <a href="mailto:ahad.jnv22@gmail.com"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></a>
      &nbsp; &nbsp; &nbsp;
      <a href="https://github.com/tourterrible"><i class="fa fa-github" aria-hidden="true"></i></a>
      &nbsp; &nbsp; &nbsp;
      <a href="https://www.linkedin.com/in/ahadabd"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      &nbsp; &nbsp; &nbsp;
      <a href="https://www.instagram.com/__.ahad.___/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      &nbsp; &nbsp; &nbsp;
      <a href="https://www.facebook.com/i.m.abdul.ahad/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      &nbsp; &nbsp; &nbsp;
    </p>
  </div>

</footer>
{% endif %}
<!-- Scripts -->
<!--<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js"></script>-->
<script>

</script>
