<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="/">Home</a>
    <a class="sidebar-nav-item" title="About" href="/about/">About</a>
    <a class="sidebar-nav-item" title="My Projects" href="/projects/">Projects</a>
    <a class="sidebar-nav-item" title="My Blogs" href="/blogs/">Blogs</a>
    <a class="sidebar-nav-item" title="Contact Me" href="/contact/">Contact</a>
  </nav>



</div>
