---
layout: post
---
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.20/dist/js/splide.min.js" integrity="sha256-Z340t2E8K3AKPm+RRjX9ArVC4CIyUMEOVDFoRI8r8D8=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@2.4.20/dist/css/themes/splide-sea-green.min.css" integrity="sha256-WysCVXSrJxkyArKd4dyTuOX/CGQJfSZVwelFuSDdr4c=" crossorigin="anonymous">
{{content}}
<script type="text/javascript">
document.addEventListener( 'DOMContentLoaded', function () {
  new Splide('#image-slider').mount();
});
</script>