---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</div>
<!-- Comments -->
<script src="https://utteranc.es/client.js"
        repo="captn3m0/comments"
        issue-term="pathname"
        label="created-by:utterances"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
<!-- Fancy footnotes -->
<script
src="https://unpkg.com/littlefoot/dist/littlefoot.js"
type="application/javascript"
></script>
<script type="application/javascript">
littlefoot.default()
</script>