---
layout: default
---

<div class="post">
  {% if page.medium %}
  <h1 class="post-title-subtitle">{{ page.title }}</h1>
  <i>*This is a mirror to the content posted on <a href="{{ page.medium }}"><i class="fa fa-medium"></i></a></i>
  <br>
  <br>
  {% else %}
  <h1 class="post-title">{{ page.title }}</h1>
  {% endif %}

  <section class="post-meta">
    {% if page.date %}
    <div class="left-align"><i class="fa fa-calendar"></i> {{ page.date | date: "%B %-d, %Y" }}</div>
    {% endif %}
    {% include reading-time.html %}
  </section>
  {{ content }}
  {% if page.medium %}
  <a href="{{ page.medium }}">read more...</a>
  {% endif %}
</div>

{% if site.related_posts.size >= 1 %}
<div class="related">
  <h2>Related posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
    <li>
      <h3>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small>{{ post.date | date_to_string }}</small>
        </a>
      </h3>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<!--Comments powered by utteranc.es-->
<script src="https://utteranc.es/client.js"
        repo="TourTerrible/TourTerrible.github.io"
        issue-term="pathname"
        label="created-by:utterances"
        theme="preferred-color-scheme"
        crossorigin="anonymous"
        async>
</script>
