---
layout: compress
---

<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta name="author" content="Abhay Rana">
		<meta charset="utf-8">
		<link rel="shortcut icon" href="/img/favicon.png">
		<link rel="apple-touch-icon" href="/img/favicon.png">
		<meta name="keywords" content="captnemo, abhay rana, sdslabs, github pages, piratecoders, iit roorkee, abhayumt">
		<link href="https://captnemo.in/atom.xml" rel="alternate" title="Abhay Rana" type="application/atom+xml" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		{{content}}
	</body>
</html>
